<header>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">   
    <title>{{Title}}</title>
    <nav class="navbar navbar-inverse">
      <a href="/" class="navbar-brand">Table Football</a>
      <ul class="nav navbar-nav">
        <li><a href="/rank">Rank</a></li>
      </ul>
</header>

      